.productCardContainer {
    margin: auto;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
}

.infoBlock {
    display: flex;
    flex-direction: column;

    .description {
        flex-grow: 1;
    }

    .addCartBlock {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        line-height: 25px;

        .cartIcon {
            width: 28px;
            margin-right: 10px;
            border: 0;
            outline: 0;
            padding: 0;
            background: transparent;
            font-size: 25px;
            color: #333333;
        }

        input {
            width: 50px;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            border-bottom: 1px solid #a7a7a7;
            text-align: center;
        }
    }


    .rating {
        line-height: 18px;
        margin-bottom: 25px;
        i {
            font-size: 20px;
            color: #ffff00;
            margin-right: 2px;
        }
    }

    .productPrice {
        color: #009b0d;
        font-weight: 600;
        font-size: 30px;
    }
}

