.productCardContainer {
    margin: auto;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
}

.infoBlock {
    display: flex;
    flex-direction: column;

    .description {
        flex-grow: 1;
    }

    .rating {
        line-height: 18px;
        margin-bottom: 25px;
        i {
            font-size: 20px;
            color: #ffff00;
            margin-right: 2px;
        }
    }

    .productPrice {
        color: #009b0d;
        font-weight: 600;
        font-size: 30px;
    }
}

