

.header {
  background: #313131;
  min-height: 50px;

  .navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.topRow {

  .mainLogo {
    height: 50px;
    margin: 5px 10px 5px 0;
  }
  
  .search {
    max-width: 50%;
  }
  
  .userBlock {
    display: flex;
  }
  
  .userBlock>div {
    margin-left: 10px;
  }
} 