.header {
  background: #313131;
  min-height: 50px;

  .navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.topRow {

  .mainLogo {
    height: 50px;
    margin: 5px 10px 5px 0;
  }
  
  .search {
    max-width: 50%;
  }
  
  .userBlock {
    display: flex;
  }
  
  .userBlock>div {
    margin-left: 10px;
    position: relative;
  }

  .cartQuantity {
    position: absolute;
    top: -10px;
    left: 5px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ff9100;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
  }
} 